<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @apresentacao_um.descricao %>
</p>

<%= link_to 'Edit', edit_apresentacao_um_path(@apresentacao_um) %> |
<%= link_to 'Back', apresentacao_ums_path %>
