<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @apresentacao_doi.descricao %>
</p>

<%= link_to 'Edit', edit_apresentacao_doi_path(@apresentacao_doi) %> |
<%= link_to 'Back', apresentacao_dois_path %>
